<div class="section7">
           <div class="section71">
              <div><h3>Top product</h3></div>
              <div><a href="">Managed Website</a></div>
              <div><a href="">Managed Reputation</a></div>
              <div><a href="">power Tools</a></div>
              <div><a href="">marketing</a></div>
           </div>
           <div class="section72">
               <div><h3>Newsletter</h3></div>
                 <div><p>You can trust us. we only send promo offers, not a single spam.</p></div>
                 <div>
                     <input type="email" placeholder="enter your mail">
                 </div>
                 <div>
                     <button>
                         SUBSCRIBE<i class="fa-solid fa-arrow-right-long"></i>
                     </button>
                 </div>
           </div>
           <div class="section73">
                <div><h3>Instagram feed</h3></div>
                <div class="photoes">
                    <div><img src="images/boy1.jpg" alt=""></div>
                    <div><img src="images/boy2.jpg" alt=""></div>
                    <div><img src="images/boy3.jpg" alt=""></div>
                    <div><img src="images/boy4.jpg" alt=""></div>
                </div>
                <div class="icon">
                    <div><a href="https://www.instagram.com/ayushsinghal27/"><i  style="   font-size: 30px; color: blue" class="fa-brands fa-instagram"></i></a></div>
                    <div><a href="https://www.facebook.com/ayush.singhal.75839923"><i style= " font-size: 30px; color: blue" class="fa-brands fa-facebook-f"></i></a></div>
                    <div><a href="https://www.linkedin.com/in/ayush-singhal-a17532203/"><i style= " font-size: 30px; color: blue" class="fa-brands fa-linkedin-in"></i></a></div>
                    <div><a href="https://twitter.com/ayushsi90477529"><i style= " font-size: 30px; color: blue" class="fa-brands fa-twitter"></i></a></div>
                </div>
           </div> 
            </div>
            <div class="copyright">
                       <center>
               <h4>Copyright ©2022 All rights reserved | This template is made with <i class="fa-solid fa-heart"></i><h3 style="color:red;">Ayush singhal</h3></h4>
           </center>
           </div>