<div class="navvar">
               <div><img  id="logo"src="images/logo.png"></div>
               <div><h2>JobListing</h2></div>
               <div><b><a href="/home"><b>Home</b></a></b></div>
               <div><b><a href="/about"><b>AboutUs</b></a></b></div>
               <div><a href="/category"><b>Category</b></a></div>
               <div><a href="/price"><b>Price</b></a></div>
               <div><a href="/contact"><b>Contact</b></a></div>
               <div><button>SIGNUP</button></div>
               <div><button>LOGIN</button></div>
            </div>