 <div class="section10">
        <div class="section10map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3550.0680778621445!2d76.8722249148583!3d27.15414818302424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39725db57720d073%3A0x1841e133ffbdeb36!2sGarh%20Himmat%20singh%20fort!5e0!3m2!1sen!2sin!4v1645898220072!5m2!1sen!2sin" width="1400" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="section101">
            <div>
                 <div>
                 <button>
                     <b>
                         Submit Your CV
                     </b>
                 </button>
             </div>
             <div>
                <button>
                    <b>
                        Post New Job
                    </b>
                </button>
            </div>
            <div>
                <button>
                    <b>
                        Creat New Account
                    </b>
                </button>
            </div> 
            </div>
           <div class="section10form">
               <div>
                   <input type="text" placeholder="Enter your name">
               </div>
               <div>
                   <input type="text" placeholder="Enter email address">
               </div>
               <div>
                  <input type="text" placeholder=" Enter your subject">
               </div>
               <div>
                   <textarea name="" id="" cols="69" rows="10" placeholder="Message"></textarea>
               </div>
               <div>
                   <button>
                       <b>
                           SEND MESSAGE
                       </b>
                   </button>
               </div>
           </div>
        </div>
    </div>