 <div class="section9">
            <div class="section91">
                <h1>
                    Choose the best pricing for you
                </h1>
                <p>
                    Who are in extremely love with eco friendly system.
                </p>
            </div>
            <div class="section92">
            <div>
                 <h1>Real basic</h1>
                <p>👉2.5 GB Space</p>
                <p>👉Secure online Transfer</p>
                <p>👉Unlimited Styles</p>
                <p>👉Customer Service</p>
                <b class="section92price">
                    <h1>$39</h1><b>Per month</b>
                    <button>Get Started</button>
                </b>
            </div>
            <div>
                <h1>Real basic</h1>
                <p>👉2.5 GB Space</p>
                <p>👉Secure online Transfer</p>
                <p>👉Unlimited Styles</p>
                <p>👉Customer Service</p>
               <b class="section92price">
                   <h1>$39</h1><b>Per month</b>
                   <button>Get Started</button>
               </b>
           </div>
           <div>
            <h1>Real basic</h1>
            <p>👉2.5 GB Space</p>
            <p>👉Secure online Transfer</p>
            <p>👉Unlimited Styles</p>
            <p>👉Customer Service</p>
           <b class="section92price">
               <h1>$39</h1><b>Per month</b>
               <button>Get Started</button>
           </b>
       </div>
            </div>
        </div>