 <div class="section8">
            <h1 id="section8h1">
                Why Choose Us
            </h1>
            <b id="section8b">
                Who are in extremely love with eco friendly system.
            </b>
            <div class="section81">
                 <div>
                    <i class="fa-solid fa-person"></i>
                    <b>Expert Technicians</b>
                    <p>
                        Usage of the Internet is becoming more common due to rapid  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem in eos ea aliquid dignissimos enim unde rerum deleniti natus, voluptatum error sequi, quod tenetur. Ex odit nemo possimus nam illum! of technology and power.
                    </p>
                 </div>
                 <div>
                    <i class="fa-solid fa-person"></i>
                    <b>Expert Technicians</b>
                    <p>
                        Usage of the Internet is becoming more common due to rapid  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem in eos ea aliquid dignissimos enim unde rerum deleniti natus, voluptatum error sequi, quod tenetur. Ex odit nemo possimus nam illum! of technology and power.
                    </p>
                 </div>
                 <div>
                    <i class="fa-solid fa-person"></i>
                    <b>Expert Technicians</b>
                    <p>
                        Usage of the Internet is becoming more common due to rapid  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem in eos ea aliquid dignissimos enim unde rerum deleniti natus, voluptatum error sequi, quod tenetur. Ex odit nemo possimus nam illum! of technology and power.
                    </p>
                 </div>
            </div>
            <div class="section81">
                <div>
                    <i class="fa-solid fa-person"></i>
                    <b>Expert Technicians</b>
                    <p>
                        Usage of the Internet is becoming more common due to rapid  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem in eos ea aliquid dignissimos enim unde rerum deleniti natus, voluptatum error sequi, quod tenetur. Ex odit nemo possimus nam illum! of technology and power.
                    </p>
                 </div>
                 <div>
                    <i class="fa-solid fa-person"></i>
                    <b>Expert Technicians</b>
                    <p>
                        Usage of the Internet is becoming more common due to rapid  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem in eos ea aliquid dignissimos enim unde rerum deleniti natus, voluptatum error sequi, quod tenetur. Ex odit nemo possimus nam illum! of technology and power.
                    </p>
                 </div>
                 <div>
                    <i class="fa-solid fa-person"></i>
                    <b>Expert Technicians</b>
                    <p>
                        Usage of the Internet is becoming more common due to rapid  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem in eos ea aliquid dignissimos enim unde rerum deleniti natus, voluptatum error sequi, quod tenetur. Ex odit nemo possimus nam illum! of technology and power.
                    </p>
                 </div>
            </div>
        </div>