<div class="section6">
    <div class="section61 image">

        <i style="font-size: 260px;     box-shadow: rgba(4, 159, 248, 0.25) 0px 25px 50px -12px; color: rgb(103,103,231); background: none; transform: rotate(60deg); "
            class="fa-solid fa-mobile-screen-button"></i>
    </div>
    <div class="section62">
        <div>
            <h1>
                Download the
                Job Listing App Today!
            </h1>
        </div>
        <div>
            <p>
                It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of
                Virtual Game, it has been achieving great heights so far as its popularity and technological Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Autem in eos ea aliquid dignissimos enim unde rerum
                deleniti natus, voluptatum error sequi, quod tenetur. Ex odit nemo possimus nam illum! are concerned.
            </p>
        </div>
        <div class="app-button">
            <div class="app">
                <button>
                    <h1>AVAILABLE </h1>
                    <p>ON APP STORE</p>
                    <i style="font-size:30px ; color: rgb(0,222,251);" class="fa-brands fa-apple"></i>
                </button>
            </div>
            <div class="app">
                <button>
                    <h1>AVAILABLE </h1>
                    <p>ON PLAY STORE</p>
                    <i style="font-size:30px ;    color: rgb(0, 222, 251); " class="fa-brands fa-android"></i>
                </button>
            </div>
        </div>
    </div>
</div>