<div class="section5">
          <div>
              <h1>Join us today without any hesitation</h1>
          </div>
          <div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
              </p>
          </div>
          <div class="button">
           <div>
               <button>
                   I AM A Candidate
               </button>
           </div>
           <div>
            <button>
                   Request Free Demo
            </button>
        </div>
          </div>
       </div>