<div class="section4">
    <div class="section41">
        <div class="job-type">
            <div><button>RECENT</button></div>
            <div><button>FULL TIME</button></div>
            <div><button>INTERN</button></div>
            <div><button>PART TIME</button></div>
        </div>
        <div class="job-title">
            <div class="logo-work">
                <img src="images/company.png">
                <button>Art</button><button>Media</button>
                <button>Design</button>
            </div>
            <div class="description">
                <h2>Creative Art Designer</h2><button style="margin: 18px 0px 0px 2px;">Apply</button>
                <p>Farrari World</p><button "><i style=" font-size: 20px;" class="fas fa-heart"></i></button>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore
                    magna aliqua.</p>
                <p>Job Nature: Full time</p>
                <p><i style="color: rgb(45, 255, 227);" class="fas fa-map-pin"></i> 56/8, Panthapath Dhanmondi Dhaka</p>
                <p><i style="color: rgb(45, 255, 227);" class="fas fa-money-bill-wave"></i>15k-25k</p>
            </div>
        </div>
        <div class="job-title">
            <div class="logo-work">
                <img src="images/company.png">
                <button>Art</button><button>Media</button>
                <button>Design</button>
            </div>
            <div class="description">
                <h2>Creative Art Designer</h2><button style="margin: 18px 0px 0px 2px;">Apply</button>
                <p>Farrari World</p><button "><i style=" font-size: 20px;" class="fas fa-heart"></i></button>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore
                    magna aliqua.</p>
                <p>Job Nature: Full time</p>
                <p><i style="color: rgb(45, 255, 227);" class="fas fa-map-pin"></i> 56/8, Panthapath Dhanmondi Dhaka</p>
                <p><i style="color: rgb(45, 255, 227);" class="fas fa-money-bill-wave"></i>15k-25k</p>
            </div>
        </div>
        <div class="job-title">
            <div class="logo-work">
                <img src="images/company.png">
                <button>Art</button><button>Media</button>
                <button>Design</button>
            </div>
            <div class="description">
                <h2>Creative Art Designer</h2><button style="margin: 18px 0px 0px 2px;">Apply</button>
                <p>Farrari World</p><button "><i style=" font-size: 20px;" class="fas fa-heart"></i></button>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore
                    magna aliqua.</p>
                <p>Job Nature: Full time</p>
                <p><i style="color: rgb(45, 255, 227);" class="fas fa-map-pin"></i> 56/8, Panthapath Dhanmondi Dhaka</p>
                <p><i style="color: rgb(45, 255, 227);" class="fas fa-money-bill-wave"></i>15k-25k</p>
            </div>
        </div>
        <div class="job-title">
            <div class="logo-work">
                <img src="images/company.png">
                <button>Art</button><button>Media</button>
                <button>Design</button>
            </div>
            <div class="description">
                <h2>Creative Art Designer</h2><button style="margin: 18px 0px 0px 2px;">Apply</button>
                <p>Farrari World</p><button "><i style=" font-size: 20px;" class="fas fa-heart"></i></button>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore
                    magna aliqua.</p>
                <p>Job Nature: Full time</p>
                <p><i style="color: rgb(45, 255, 227);" class="fas fa-map-pin"></i> 56/8, Panthapath Dhanmondi Dhaka</p>
                <p><i style="color: rgb(45, 255, 227);" class="fas fa-money-bill-wave"></i>15k-25k</p>
            </div>
        </div>
        <div class="job-title">
            <div class="logo-work">
                <img src="images/company.png">
                <button>Art</button><button>Media</button>
                <button>Design</button>
            </div>
            <div class="description">
                <h2>Creative Art Designer</h2><button style="margin: 18px 0px 0px 2px;">Apply</button>
                <p>Farrari World</p><button "><i style=" font-size: 20px;" class="fas fa-heart"></i></button>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore
                    magna aliqua.</p>
                <p>Job Nature: Full time</p>
                <p><i style="color: rgb(45, 255, 227);" class="fas fa-map-pin"></i> 56/8, Panthapath Dhanmondi Dhaka</p>
                <p><i style="color: rgb(45, 255, 227);" class="fas fa-money-bill-wave"></i>15k-25k</p>
            </div>
        </div>
        <div class="job-title">
            <div class="logo-work">
                <img src="images/company.png">
                <button>Art</button><button>Media</button>
                <button>Design</button>
            </div>
            <div class="description">
                <h2>Creative Art Designer</h2><button style="margin: 18px 0px 0px 2px;">Apply</button>
                <p>Farrari World</p><button "><i style=" font-size: 20px;" class="fas fa-heart"></i></button>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore
                    magna aliqua.</p>
                <p>Job Nature: Full time</p>
                <p><i style="color: rgb(45, 255, 227);" class="fas fa-map-pin"></i> 56/8, Panthapath Dhanmondi Dhaka</p>
                <p><i style="color: rgb(45, 255, 227);" class="fas fa-money-bill-wave"></i>15k-25k</p>
            </div>
        </div>
    </div>
    <div class="section42">
        <div class="job-location">
            <div>
                <h2>Jobs by Location</h2>
            </div>
            <div><button> New york <span id="city"></span> 37</button></div>
            <div><button> America <span id="city"></span> 37</button></div>
            <div><button> Atlanta <span id="city"></span> 37</button></div>
            <div><button> Arizona <span id="city"></span> 37</button></div>
            <div><button> Florida <span id="city"></span> 37</button></div>
            <div><button> Rocky Beach <span id="city"></span> 37</button></div>
            <div><button> Chicago <span id="city"></span> 37</button></div>
        </div>
        <div class="job-post">
            <h2>Top rated job posts</h2>
            <div id="creative">
                <h1>CREATIVE</h1>
            </div>
            <h2>Creative Art Designer</h2>
            <b>Premium Labels Limited</b>
            <b>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </b>
            <b>Job nature:FULL TIME</b>
            <b><i style="color: rgb(45, 255, 227);" class="fas fa-map-pin"></i> 56/8, Panthapath Dhanmondi Dhaka</b>
            <b><i style="color: rgb(45, 255, 227);" class="fas fa-money-bill-wave"></i>15k-25k</b>
            <div class="btn">
                <button></button>
                <button></button>
                <button></button>
            </div>
        </div>
        <div class="second job-location">
            <div>
                <h2> Jobs by Category</h2>
            </div>
            <div><button> Technology <span id="city"></span> 37</button></div>
            <div><button> Government <span id="city"></span> 37</button></div>
            <div><button> Media & news <span id="city"></span> 37</button></div>
            <div><button> Medical <span id="city"></span> 37</button></div>
            <div><button> Development <span id="city"></span> 37</button></div>
            <div><button> Accounting <span id="city"></span> 37</button></div>
            <div><button> Restaurants <span id="city"></span> 37</button></div>
        </div>
        <div class="job-advice-blog">
            <div>
                <h2>Carrer Advice Blog</h2>
            </div>
            <div class="blog">
                <h2>
                    Home Audio Recording For everyone
                </h2>
                <p>02 Hours Ago</p>
            </div>
            <div class="blog">
                <h2>
                    Home Audio Recording For everyone
                </h2>
                <p>02 Hours Ago</p>
            </div>
            <div class="blog">
                <h2>
                    Home Audio Recording For everyone
                </h2>
                <p>02 Hours Ago</p>
            </div>
        </div>
    </div>
</div>
<center>
    <div class="div">
        <button>LOAD MORE JOB POSTS</button>
    </div>
</center>